
* {
    box-sizing: border-box;
}

main { 
    background: #d9dadb;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    margin-top: 0px;
    padding: 2% 10%;
}
/* Diseño del container del producto */
.flex-container {
    display: flex;
    margin: 2%;
    padding: 1%;
    padding-bottom: 3%;
    background-color: white;
    flex-wrap: wrap;
    height: fit-content;
}
/* Dividido en dos partes (der-izq) */
.parte-izq{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.parte-der{
    width: 35%;
    border-left: slategray 0.5px solid;
}
/* Diseño de la sección de fotos */
.margen-izq {
    flex-direction: column;
    width: 15%;
    height: fit-content;
}
.foto {
    width: 105%;
    margin: 5% 0px;
    border-color: black;
}
.middle {
    width: 80%;
    height: fit-content;
    padding: 1%;
    text-align: center;
}
.foto-principal {
    width: 90%;
}
.list-foto {
    display: none;
}
/* Diseño detalles del producto */
.margen-der {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 3%;
    padding-right: 4%;
    padding-left: 8%;
}
.nombre {
    line-height: 1;
    margin-bottom: 0px;
    font-weight: 700;
}
.list {
    width: 100%;
    line-height: 2;
    margin: 12% 0px;
}
li{
    list-style: none;
    color: #333333
}
ul{
    padding-left: 0px;
}
.camion{
    margin-right: 4%;
    font-size: 100%;
    color: rgb(82, 179, 62);
    margin-left: 1%;
}
.flecha{
    margin-right: 4%;
    font-size: 100%;
    color: rgb(82, 179, 62);
    margin-left: 1.5%;
}
.tarjeta{
    margin-right: 4%;
    font-size: 100%;
    color: rgb(82, 179, 62);
    margin-left: 1.5%;
}
.price {
    margin: 6% 0px 4% 0px;
    display: flex;
    flex-wrap: wrap;
}
.precio {
    height: 20%;
    margin: 0px 0px 0px 2%;
    font-size: 206%;
}
.precioViejo{
    text-decoration-line: line-through;
    color: gray;
    width: 100%;
    margin-top: 0px;
    padding-left: 4%;
}
.descuento {
    color: #41426f;
    margin: 0px 5%;
    font-size: 150%;
}
.colores {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
}
.opciones {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.rojo {
    width: 15%;
    height: 58%;
    text-align: center;
    padding-top: 2%;
    background-color: red;
    border: 1px solid black;
}
.negro {
    width: 15%;
    height: 58%;
    text-align: center;
    padding-top: 2%;
    background-color: black;
    border: 1px solid black;
    color: white;
}
.madera {
    width: 15%;
    height: 58%;
    text-align: center;
    padding-top: 2%;
    background-color: burlywood;
    border: 1px solid black;
}
.blanco {
    width: 15%;
    height: 58%;
    text-align: center;
    padding-top: 2%;
    background-color: white;
    border: 1px solid black;
}
.azul {
    width: 15%;
    height: 58%;
    text-align: center;
    padding-top: 2%;
    background-color: #1a4f8e;
    border: 1px solid black;
}
.boton-comprar {
    width: 90%;
    line-height: 3;
    height: 10%;
    background-color: #41426f;
    border: none;
    border-radius: 2%;
    justify-self: center;
    color: white;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 4%;
}
.titulo2{
    padding: 0px 7%;
    margin-top: 10%;
}
.tarjetas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 13%;
}
.master{
    font-size: 180%;
    color: #EE5536;
}
.visa{
    font-size: 180%;
    color: orange;
}
.pp{
    font-size: 180%;
    color: #2D3277;
}
.amex{
    font-size: 180%;
    color: lightslategrey;
}
.divmp{
    border-radius: 2%;
    /* border: #009EE3 solid 3px; */
    background-color: #009EE3;
    padding-left: 2%;
    display: flex;
    margin-top: 6%;
    margin-bottom: 6%;
}
.titulomp{
    font-size: 110%;
    color: #333333;
}
.mp{
    color: black;
    margin-left: 3%;
    margin-top: 4%;
    font-size: 180%;
}
.retiro{
    font-size: 85%;
    color: black;
}
.consulta{
    font-size: 80%;
    color: #323eeb;
    margin-bottom: 2%};
}
.abajo{
    display: block;
    padding: 2%;
    width: 100%;
    padding-left: 4%;
}
.titulo3{
    margin-top: 8%;
}
.description{
    width: 65%;
}
.desc-mobile{
    display: none;
}
/* Cambios sección productos destacados */
.P002{
    margin-left: 2%;
}
.ProductosDestacados{
    margin: 4% 1%;
}
/* Diseño sección opiniones */
.opinions {
    margin-bottom: 5%;
}
.title{
    margin:6% 0px 4% 2%;
}
.comentarios-container {
    margin: 2%;
    padding: 2%;
    background-color: white;
}
.opinion-container {
    width: 100%;
}
.titulo {
    font-weight: bold;
    color: #41426f;
    text-align: left;
    font-size: 150%;
}
.corrector {
    height: 10%;
}
.d {
    color: #d9dadb;
}
.boton{
    border: none;
    background-color: none;
    color: grey;
}

/* Haciendolo responsive */

@media(max-width: 768px) {
    /* Arreglando los colores */
    .rojo {
        width: 13%;
        height: 50%;
    }
    .negro {
        width: 13%;
        height: 50%;
    }
    .madera {
        width: 13%;
        height: 50%;
    }
    .blanco {
        width: 13%;
        height: 50%;
    }
    .azul {
        width: 13%;
        height: 50%;
    }
     /* Poniendo todo en una columna */
     .flex-container {
        display: block;
    }
    .parte-der{
        width: 100%;
    }
    .parte-izq{
        width: 100%;
    }
    .margen-izq {
        display: none;
    }
    .middle {
        width: 100%;
    }
    .foto-principal {
        width: 80%;
    }
    .list-foto {
        display: none;
    }
    .parte-der{
        border: none;
    }
    .margen-der {
        width: 100%;
        padding: 4%;
    }
    .texto {
        width: 100%;
        height: 70%;
    }
    .nombre {
        font-size: 150%;
        margin: 4% 0px;
        font-weight: bold;
    }
    .list {
        display: inline;
        line-height: 1;
        font-weight: lighter;
        font-size: 75%;
    }
    .price {
        margin-top: 3%;
        display: flex;
        justify-content:flex-start
    }
    .precio {
        width: 25%;
    }
    .boton-comprar {
        width: 100%;
        line-height: 2;
    }
    .relacionados {
        margin-top: 5%;
    }
    .title {
        font-size: 155%;
        line-height: 1;
    }
    .name {
        font-weight: lighter;
        font-size: 65%;
    }
    .abajo{
        display: none;
    }
    .desc-mobile{
        display: inline;
    }
}

@media(max-width: 576px) {
    
}