/* Forms */
.contenedor-form{
    width: 100%;

}
.formulario {
    width: 60%;
    flex-wrap: wrap;
    display: flex;
    background-color: white;
    margin: 5% 20% 5% 20%; 
}
.titulo-form{
    background-color: #41426f;
    font-size: 230%;
    width: 100%;
    color: white;
    padding-left: 4%;
}
.pregunta{
    width: 45%;
    display: block;
    font-size: 200%;
    margin-top: 3%;
    padding-left: 13%;
}
.respuesta{
    width: 40%;
    margin-top: 3%;
    font-size: 200%;
    font-weight: 100;
    background: #d9dadb;
}
.enter{
    width: 40%;
    font-size: 220%;
    margin: 5% 30% 5% 30%;
    background-color: #41426f;
    color: white;
    height: 80px;
    border-radius: 17px;
}
.respuesta2{
    width: 100%;
    height: 30px;
    margin-top: 3%;
    font-weight: 100;
    font-size: 160%;
    background: #d9dadb
}
.p-option{
    font-size: 143%;
    float: left;
    width: 60%;
}
.respuesta3{
    width: 47%;
}
.recordarme {
    width: 78%;
    font-size: 100%;
    text-align: right;
    margin-top: 3%;
    margin-right: 1%
}
.check{
    margin-top: 3.4%;
}
.errors{
    width: 100%;
    padding-left: 10%;
}

@media(max-width: 1020px){
    .enter{
        font-size: 240%;
    }
    .p-option{
        width: 76%;
    }
    .respuesta2{
        width: 100%;
    }
    #p-option{
        margin: 0px;
    }
    .pregunta{
        width: 50%;
    }
    .enter{
        font-size: 200%;
    }
}

@media(max-width: 768px){
    .formulario{
        font-size: 100%;
        width: 80%;
        margin: 5% 10% 5% 10%;
    }
    .respuesta2{
        width: 80%;
    }
    .p-option{
        width: 76%;
    }
    .enter{
        font-size: 180%;
    }
    .pregunta{
        font-size: 165%;
    }
}

@media(max-width: 568px){

    .formulario{
        width: 100%;
        margin: 0%;
    }
    .titulo-form{
        font-size: 170%;
    }
    .enter{
        font-size: 180%;
    }
    .pregunta{
        width: 100%;
        text-align: center;
        margin-top: 8%;
        padding: 0%;
        
    }
    .respuesta{
        width: 95%;
        margin-left: 2.5%;
    
    }
    .respuesta3{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
    }
    .p-option{
        width: 44%;
        text-align: center;
    }
    #p-option{
        float: left;
        margin: 3%
    }
    .respuesta2{
        width: 100%;
    }

}