/* info general */
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing:border-box
}

/* Mobile */
.contenedor-gral {
    margin: 5% 2% 0 2%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.todo{
    justify-content: center;
}
h1{
    width: 100%;
    font-size: 200%;
    padding-left: 10%;
}
.cont-info {
    width: 40%;
}
.cont-foto{
    padding: 5%;
    padding-bottom: 0px;
}
.foto {
    width: 100%;
    display: flex;
}
.cont-nombre {
    width: 100%;
    display: flex;
    padding-left: 6%;
    justify-content: center;
}
.nombre{
    font-size: 180%;
   
}
.cont-info2{
    width: 60%;  
}

.cont-data{
    width: 100%;
    font-size: 140%;
    border-bottom: 1px dashed #41426f;
    margin: 1% 1% 4% 1%;
    padding: 1% 1% 1% 1%;
}
.cont-edit{
    display: flex;
    line-height: 1;
}
.edit{
    height: fit-content;
    margin-left: 3%;
    align-self: center;
    border: none;
    border-radius: 3%;
}
.preg{
    padding: 0%;
}
.boton {
    
        width: 40%;
        font-size: 170%;
        margin: 5% 30% 5% 30%;
        background-color: #41426f;
        color: white;
        height: 70px;
        border-radius: 17px;
    
}
input{
    font-size: 100%;
}
/* Media querys */
@media(max-width:600px){
    .contenedor-gral{
        display: block;
        margin: 20%;
    }
    .cont-edit{
        display: block;
    }
    .edit{
        height: auto;
    }
    .boton{
        width: 100%;
        margin-left: 0px;
    }
}
@media(max-width:380px){
    .todo{
        justify-content: left;
    }
}