<!-- PIE DE PAGINA -->
    <!-- Barrita Chiquita -->
    <div class="DIV000">

    </div>
    <!-- Todas esas cositas -->
    <div class="footer">
        <div class="DIV006">
            <div class="SDIV005">
                <h1 class="FT1">Mi pedido</h1>
                <a href="">Cómo comprar </a><br><br>
                <a href="">Formas De Pago </a><br><br>
                <a href="">Cambios y devoluciones</a><br><br>
                <a href="">Segui tu pedido</a><br><br>
            </div>
            <div class="SDIV005">
                <h1 class="FT1">Atencion al cliente</h1>
                <a href="">Preguntas Frecuentes </a><br><br>
                <a href="">Contacto</i><br><br>
                <a href="">Locales</a><br><br>
                <a href="">Reclamos</a><br><br>
            </div>
            <div class="redes">
                <div class="social"><a href=""><i class="fab fa-instagram-square instagram"></i></a></div>
                <div class="social"><a href=""><i class="fab fa-facebook fb"></i></a></div>
                <div class="social"><a href=""><i class="fab fa-spotify spotify"></i></a></div>
                <div class="social"><a href=""><i class="fab fa-youtube ytb"></i></a></div>
            </div>
        </div>
        
    </div>
