<!-- Trayendo el head -->
<%- include('partials/head', {title: 'Registrarme'}) %>
<body>
    <!-- Trayendo el header -->
    <%- include('partials/header') %>

    <section class="contenedor-gral todo">
        <h1>Cambiar contrase単a</h1>
        <div class="cont-info2">
            <form class="cont-boton" action="/users/edit/<%= user.id %>/password?_method=PUT" method="POST">
                <% if (typeof mensaje[0] != 'null') { %>
                    <p><%= mensaje %> </p>
                <% } %> 
                <div class="cont-edit cont-data">
                    <p class="preg">Contrase単a previa: </p>
                    <input type="password" class="resp edit"  name="oldPassword">  
                </div>
                <div class="cont-edit cont-data">
                    <p class="preg">Contrase単a nueva: </p>
                    <input type="password" class="resp edit" name="password">    
                </div>
                <button type="submit" class="boton">Cambiar Contrase単a</button>
            </form>
        </div>
    </section>
    
</body>