<!-- Trayendo el head -->
<%- include('partials/head', {title: 'Cargar producto'}) %>

<body>

<!-- Trayendo el header -->
<%- include('partials/header') %>

<!-- Form -->
<div class="contenedor-form">
    <form class="formulario" action="/product/add" method="POST" enctype="multipart/form-data">

        <div class="titulo-form">
            <p class="texto-titulo-form"> Cargar producto</p>
        </div>

        <label class="pregunta" for="">Nombre</label>
        <input  class="respuesta" type="text" name="name">

        <label class="pregunta" for="">Tipo</label>
        <input class="respuesta" type="text" name="type">

        <label class="pregunta" for="">Marca</label>
        <input class="respuesta" type="text" name="brand">

        <label class="pregunta" for="">Categoría</label>
        <select class="respuesta" name="category" id="">
            <option value="cuerdas">Cuerdas</option>
            <option value="teclas">Teclas</option>
            <option value="percusion">Percusion</option>
            <option value="equipamiento">Equipamiento</option>
        </select>

        <label class="pregunta" for="">Precio</label>
        <input class="respuesta" type="number" name="price">

        <label class="pregunta" for="">Imagen del producto</label>
        <input class="respuesta" type="file" name="image">

        <label class="pregunta" for="">Descuento</label>
        <input class="respuesta" type="number" name="discount">

        <label class="pregunta" for="">Tamaño</label>
        <input class="respuesta" type="text" name="size">

        <label class="pregunta" for="">Descripción</label>
        <textarea class="respuesta" name="description" id="" cols="10" rows="3" ></textarea>


        <label class="pregunta" for="">Colores disponibles</label>
        <div class="respuesta3">
        
        <p class="p-option"><input class="respuesta" type="checkbox" name="color" value="negro">Negro</p>
        <p class="p-option"><input class="respuesta" type="checkbox" name="color" value="marron">Marron</p>
        <p class="p-option"><input class="respuesta" type="checkbox" name="color" value="gris">Gris</p>
        <p class="p-option" id="p-option"><textarea class="respuesta2" name="comentario" id="" ></textarea>Otro</p>
        </div>
    
        <label class="pregunta" for="">Stock</label>
        <select class="respuesta" name="stock" id="">
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>

        <button type="submit" class="enter">Finalizar</button>
    </form>
</div>

<!-- Trayendo el footer -->
<%- include('partials/footer') %>

</body>
</html>