<!-- Trayendo el head -->
<%- include('partials/head', {title: 'Registrarme'}) %>
<body>
    <!-- Trayendo el header -->
    <%- include('partials/header') %>
    <!-- Forms -->
    <div class="contenedor-form">
        <form class="formulario">
            <div class="titulo-form"><p class="texto-titulo-form"> Unite a nuestra comunidad!
            </p></div>
        <label class="pregunta" for="">Nombre</label>
        <input  class="respuesta" type="text" name="name">

        <label class="pregunta" for="">Apellido</label>
        <input class="respuesta" type="text" name="surname">

        <label class="pregunta" for="">Email</label>
        <input class="respuesta" type="email" name="email">

        <label class="pregunta" for="">Teléfono</label>
        <input class="respuesta" type="number" name="phone">

        <label class="pregunta" for="">Fecha de nacimiento</label>
        <input class="respuesta" type="date" name="date">

        <label class="pregunta" for="">Nombre de Usuario</label>
        <input class="respuesta" type="text" name="username">

        <label class="pregunta" for="">Contraseña</label>
        <input class="respuesta" type="password" name="password">

        <label class="pregunta" for="">Confirmar contraseña</label>
        <input class="respuesta" type="password" name="rePassword">

        <button type="submit" class="enter">Registrarme</button>
        </form>
    </div>

     <!-- Trayendo el footer -->
    <%- include('partials/footer') %>
    
</body>
</html>