<!-- Trayendo el head -->
<%- include('partials/head', {title: 'Registrarme'}) %>
<body>
    <!-- Trayendo el header -->
    <%- include('partials/header') %>
    <!-- Forms -->
    <div class="contenedor-form">
        <form class="formulario" action="/users/register" method="POST" enctype="multipart/form-data">
            <div class="titulo-form"><p class="texto-titulo-form"> Unite a nuestra comunidad!
            </p></div>
            <% if (typeof errors != 'undefined') { %>
                <ul>
                    <% errors.forEach(error => { %>
                        <li>
                            <%= error.msg %> 
                        </li>
                    <% }) %>
                </ul>
            <% } %>
              
              
        <label class="pregunta" for="">Nombre</label>
        <input  class="respuesta" type="text" name="first_name">

        <label class="pregunta" for="">Apellido</label>
        <input class="respuesta" type="text" name="last_name">

        <label class="pregunta" for="">Email</label>
        <input class="respuesta" type="email" name="email">

        <label class="pregunta" for="">Teléfono</label>
        <input class="respuesta" type="number" name="tel">

        <label class="pregunta" for="">Fecha de nacimiento</label>
        <input class="respuesta" type="date" name="birth_date">

        <label class="pregunta" for="">Nombre de Usuario</label>
        <input class="respuesta" type="text" name="username">

        <label class="pregunta" for="">Contraseña</label>
        <input class="respuesta" type="password" name="password">

        <label class="pregunta" for="">Foto de perfil</label>
        <input class="respuesta" type="file" name="image">

        <button type="submit" class="enter">Registrarme</button>
        </form>
    </div>

     <!-- Trayendo el footer -->
    <%- include('partials/footer') %>
    
</body>
</html>