<!-- Trayendo el head -->
<%- include('partials/head') %> 

<body>
    
    <!-- Trayendo el header -->
    <%- include('partials/header') %> 

    <div class="DIV010">
        <div class="h-container">
           Tutoriales para principiantes!

        </div>
        <h3>
            Guitarra criolla
        </h3>
        <iframe class="ayuda" width="512" height="288" src="https://www.youtube.com/embed/S_QIaGgLJ-0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <h3>
            Violín
        </h3>
        <iframe class="ayuda" width="512" height="288" src="https://www.youtube.com/embed/f6hY2lqfmTs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>
            Ukelele
        </h3>
        <iframe class= "ayuda" width="512" height="288" src="https://www.youtube.com/embed/3v2pAAn85R8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <h3>
            Batería
        </h3>
        <iframe class="ayuda" width="512" height="288" src="https://www.youtube.com/embed/GCMe5-55vw0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
        <h3>
            Teclado
        </h3>
        <iframe class="ayuda" width="512" height="288" src="https://www.youtube.com/embed/hFykjO50DFk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>
            Armónica
        </h3>
        <iframe class="ayuda" width="512" height="288" src="https://www.youtube.com/embed/GdyXUlQ92Tc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>
            Saxofón
        </h3>
        <iframe class="ayuda" width="512" height="288" src="https://www.youtube.com/embed/rGKenqx0Ik4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>
            Flauta
        </h3>
        <iframe class="ayuda" width="512" height="288" src="https://www.youtube.com/embed/h2HlZmtgAQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




    </div>
    <%- include('partials/footer') %> 
</body>